@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目搜索</title>
    
        </head>
        <body>

   <div id="ui_pm_search">
        <table class="tableForm" style="width: 99%; height: 100%; background: #F5F5F5;">
            <tr>
                <th>
                    项目编码：
                </th>
                <td>
                    <input name="ProjectNo" id="ProjectNo" class="easyui-validatebox textbox" style="width:150px;height:22px;" />
                </td>
            <tr>
                <th>
                    项目名称：
                </th>
                <td>
                    <input name="ProjectName" id="ProjectName" class="easyui-validatebox textbox" style="width:150px;height:22px;" />
                </td>
            <tr>
                <th>
                    管理员：
                </th>
                <td>
                    <input name="ProjectManager" id="ProjectManager" class="easyui-validatebox textbox" style="width:150px;height:22px;" />
                </td>
            <tr>
                <th>
                    业务员：
                </th>
                <td>
                    <input name="ProjectClerk" id="ProjectClerk" class="easyui-validatebox textbox" style="width:150px;height:22px;" />
                </td>
            <tr>
                <th>
                    添加时间：
                </th>
                <td>
                    <input name="txtAddBeginDate" id="txtAddBeginDate" class="easyui-datebox"
                           editable="false" style="width:150px;height:22px;" />
              
                <span>
                    至：
                </span>
          
                    <input name="txtAddEndDate" id="txtAddEndDate" class="easyui-datebox"
                           editable="false" style="width:150px;height:22px;" />
                </td>


            </tr>
        </table>
    </div>

</body>
</html>
