@{
    ViewBag.Title = "test";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目管理</title>

    <link rel="stylesheet" type="text/css" href="~/gantt/lib/jquery-ui-1.8.4.css" />
    <link rel="stylesheet" type="text/css" href="~/gantt/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/gantt/jquery.ganttView.css" />
    <script type="text/javascript" src="~/gantt/lib/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/gantt/lib/date.js"></script>
    <script type="text/javascript" src="~/gantt/lib/jquery-ui-1.8.4.js"></script>
    <script type="text/javascript" src="~/gantt/jquery.ganttView.js"></script>
    <script type="text/javascript" src="~/gantt/data.js"></script>
    <style type="text/css">
        body {
            font-family: tahoma, verdana, helvetica;
            font-size: 0.8em;
            padding: 10px;
        }
    </style>
</head>


<body>
    <div id="ganttChart"></div>
    
    <br />hello<br />
    <div id="eventMessage"></div>


</body>
</html>
