# user-defined
# Byte-compiled / optimized / DLL files
BLL/bin/Debug/
BLL/obj/
DAL/bin/Debug/
DAL/obj/
DBUtility/bin/
DBUtility/obj/
Model/bin/Debug/
Model/obj/
SYPM/bin/Debug/
SYPM/obj/Debug/
*.cache

