@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>空白页</title>
</head>
<body>
    <hgroup>
        <h1>空白页。</h1>
        <h2>功能页面正在开发中，请与系统管理员联系。</h2>
    </hgroup>
</body>
</html>